

#video_content{
    width: 90%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: auto auto 1%;
}

#video_content:hover{
    box-shadow: 3px 3px 3px 3px gray;
}

#video-name{
    width: 30%;
    margin: auto;
    text-align: center;
}

#like_block{
    display: flex;
    flex-direction: row;
    width: 8%;
    margin-left: 10%;
    padding-right: 5%;
    box-shadow: 1px 1px 1px 1px gray;
}

#like_block:active{
    transform: scale(0.95);
}

#like{
    width: 70%;
}


#count_likes{
    text-align: center;
}