<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/main.css"/>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/login.css">

    <link rel="icon" href="../static/image/logo.svg">
    <title>Вход</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <img class="logo" src="../static/image/logo.svg" alt="svg картинка фотоаппарата">
            <div class="project_name">
                video.online
            </div>
        </header>

        <main>
            <aside>
                <nav>
                    <a href="/">Все видео</a>
                    <a href="/upload" id="tag-upload">Добавить видео</a>
                    <a href="/registration" id="tag-registration" >Регистрация</a>
                </nav>
            </aside>
            <div class="content-wrapper">
                <form>
                    <div class="form">
                        <label for="email"> email: </label>
                        <input type="email" name="email" id="email" required>
                    </div>

                    <div class="form">
                        <label for="password">password: </label>
                        <input type="password" name="password" id="password" required>
                    </div>

                </form>

                <button onclick="login()"> Войти</button>
            </div>
        </main>

        <footer>
            <div class="fio">
            </div>
        </footer>
    </div>

    <script src="../static/js/login.js"></script>
    <script src="../static/js/navigation.js"></script>

</body>
</html>