<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../static/css/main.css"/>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/video.css">
    <link rel="icon" href="../static/image/logo.svg">
    <title>Все видео</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <img class="logo" src="../static/image/logo.svg" alt="svg картинка фотоаппарата">
            <div class="project_name">
                video.online
            </div>
        </header>

        <main>
            <aside>
                <nav>
                    <a href="/">Все видео</a>
                    <a href="/upload" id="tag-upload">Добавить видео</a>
                    <a href="/login" id="tag-login">Войти</a>
                    <a href="/registration" id="tag-registration" >Регистрация</a>
                    <a href="/" id="tag-logout" >Выйти</a>
                </nav>
            </aside>
            <div class="content-wrapper">
                <div id="video">

                    <div id="video_content">
                        <video controls src="{{ video.video }}"></video>
                        <p id="video-name">{{ video.name }}</p>
                    </div>

                    <div id="like_block">
                        <img id="like" src="../static/image/like.svg" alt="большой палец вверх">
                        <p id="count_likes">{{ count }}</p>
                        <input type="checkbox" hidden="hidden" id="checked">
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div class="fio">
            </div>
        </footer>
    </div>

    <script src="../static/js/navigation.js"></script>
    <script src="../static/js/video.js"></script>
</body>
</html>